<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>textutile</title>
</head>
<body>
<h1>welcome to my analyzer. this is my analysis</h1>
<form action='/about' method='get'>
  <textarea name='text' style='margin: 0px; height: 130px; width: 1333px;'> </textarea><br>
    <input type="checkbox" name="about"> with remove punctuation <br>
    <input type="checkbox" name="Upper"> UPPERCASE <br>
    <input type="checkbox" name="newline"> now no space in your line <br>
    <input type="checkbox" name="extraspace"> remove extra line <br>
    <input type="checkbox" name="counter"> count line you have type <br>

    <button type= 'submit' > analysis text  </button>


</form>


</body>
</html>